<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true"
         failOnNotice="true"
         failOnDeprecation="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">components/modules/domain_reseller_api</directory>
        </include>
        <exclude>
            <directory>components/modules/domain_reseller_api/language</directory>
            <directory>components/modules/domain_reseller_api/config</directory>
        </exclude>
    </source>
</phpunit>
